<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splashscreen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="splash-screen">
        <div class="logo-container">
            <div class="logo">
                <div class="logo">
                    <img src="logo.png" alt="Logo" class="logo-img">
                </div>                
            </div> 
            <h1 class="animated-text">
            <span>W</span><span>a</span><span>s</span><span>t</span><span>e</span><span>L</span><span>e</span><span>s</span><span>s</span>
            </h1>   
        <div class="subtitle">
            <p>Beli Sebelum Terbuang</p>
        </div>
    </div>
    
</body>
</html>
