* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1E4316;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h2{
    margin-top: 60px;
    margin-bottom: 38px;
    margin-left: 20px;
    font-size: 36px;
    color: #ffffff;
    text-align: start;
    display: flex;
}

.signup-container {
    margin-top: 20px;
    border-radius: 8px;
    padding: 40px 30px;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input {
    width: 48%;
    padding: 18px 14px;
    border-radius: 100px;
    border: 3px solid #ddd;
    outline: none;
    font-size: 16px;
    border-color: #A99A29;
    background-color: #1E4316; 
    color: #ffffff; 
}

.input-field input {
    width: 100%;;
    padding: 18px 14px;
    border-radius: 100px;
    border: 3px solid #ddd;
    outline: none;
    font-size: 16px;
    border-color: #A99A29;
    background-color: #1E4316; 
    color: #ffffff; 
}

.input-field input,
.input-group input {
    border-radius: 25px;
    margin-bottom: 15px;
    border: 2px solid #A78B4E;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
}

.input-field input::placeholder,
.input-group input::placeholder {
    color: #ffffff;
    padding-left: 20px;
}

.signup-btn {
    background-color: #A99A29;
    color: #f8f8f8;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn:hover {
    background-color: #c9b35c;
}

.login-link {
    margin-top: 200px;
    color: #b4a04a;
    font-size: 16px;
}

.login-link a {
    color: #b4a04a; 
    text-decoration: none;
    font-weight: bold;
}

